@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap');
/* css styles */

.font-josefin-sans {
  font-family: 'Josephin Sans', sans-serif;
}

.font-fasthand-cursive {
  font-family: 'Fasthand', cursive;
}

/*-- scss:defaults --*/
$body-color: #12273F;
$link-color: #3CD7D9;
$code-color: #9E71FE;
$dark-bg-code-color: lighten($code-color, 15%);
$light-bg-code-color: darken($code-color, 15%);
